[submodule "fake_detection_models/rine"]
	path = fake_detection_models/rine
	url = https://github.com/mever-team/rine
[submodule "fake_detection_models/aide"]
	path = fake_detection_models/aide
	url = https://github.com/shilinyan99/AIDE.git
[submodule "fake_detection_models/fat_former"]
	path = fake_detection_models/fat_former
	url = https://github.com/Michel-liu/FatFormer
[submodule "fake_detection_models/ssp"]
	path = fake_detection_models/ssp
	url = https://github.com/bcmi/SSP-AI-Generated-Image-Detection
[submodule "fake_detection_models/gandct"]
	path = fake_detection_models/gandct
	url = https://github.com/RUB-SysSec/GANDCTAnalysis
[submodule "fake_detection_models/deepfakedetection"]
	path = fake_detection_models/deepfakedetection
	url = https://github.com/lira-centre/DeepfakeDetection.git
[submodule "fake_detection_models/CNNDetection"]
	path = fake_detection_models/CNNDetection
	url = https://github.com/PeterWang512/CNNDetection.git
[submodule "fake_detection_models/NPR-DeepfakeDetection"]
	path = fake_detection_models/NPR-DeepfakeDetection
	url = https://github.com/chuangchuangtan/NPR-DeepfakeDetection
[submodule "fake_detection_models/DMimageDetection"]
	path = fake_detection_models/DMimageDetection
	url = https://github.com/grip-unina/DMimageDetection
[submodule "fake_detection_models/LASTED"]
	path = fake_detection_models/LASTED
	url = https://github.com/HighwayWu/LASTED.git
[submodule "fake_detection_models/DIRE"]
	path = fake_detection_models/DIRE
	url = https://github.com/ZhendongWang6/DIRE.git
[submodule "fake_detection_models/GAN-image-detection"]
	path = fake_detection_models/GAN-image-detection
	url = https://github.com/polimi-ispl/GAN-image-detection.git
