[submodule "fake_detection_models/rine"]
	path = fake_detection_models/rine
	url = https://github.com/mever-team/rine
[submodule "fake_detection_models/aide"]
	path = fake_detection_models/aide
	url = https://github.com/shilinyan99/AIDE.git
[submodule "fake_detection_models/fat_former"]
	path = fake_detection_models/fat_former
	url = https://github.com/Michel-liu/FatFormer
[submodule "fake_detection_models/ssp"]
	path = fake_detection_models/ssp
	url = https://github.com/bcmi/SSP-AI-Generated-Image-Detection
[submodule "fake_detection_models/gandct"]
	path = fake_detection_models/gandct
	url = https://github.com/RUB-SysSec/GANDCTAnalysis
[submodule "fake_detection_models/deepfakedetection"]
	path = fake_detection_models/deepfakedetection
	url = https://github.com/lira-centre/DeepfakeDetection.git
